* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

th,td {
	border: 1px solid rgb(0, 0, 0);
	padding: 20px;
}

.blue {
	text-align: center;
	font-weight: 700;
	background: rgb(79, 89, 231);
	color: #fff;
}

.red {
	text-align: center;
	background: rgb(236, 78, 189);
	font-weight: 700;
	color: #fff;
}